<a href="/">Главная</a>
{{#if isAuthorized}}
<a href="/profile">Профиль</a>
<a href="/basket">Корзина</a>
<a href="/logout">Выйти</a>
{{else }}
<a href="/auth">Aвторизоваться</a>
<a href="/reg">Зарегистрироваться</a>
{{/if}}
