<h1>Добавление нового препарата в базу</h1>

<form name="adminForm" method="POST", action="/admin">

  <input name="name" placeholder="Название препарата" /> </br></br></br>
  <input name="price" placeholder="Цена" /> </br></br></br>
  <input name="info" placeholder="Информация" /></br></br></br>
  <input name="categoryId" placeholder="Категория" /></br></br></br>
  <input name="count" placeholder="Количество" /></br></br></br>
  <input name="havePromo" placeholder="Промо" /></br></br></br>
  <input name="discountPrice" placeholder="Цена со скидкой" /></br></br></br>
  </br></br></br>
  <button  type="submit">Отправить</button>
  </br></br></br> 
    <a href="/">На главную</a>

  </form>
