<div class="js-order">
<h1>Ваша корзина</h1>
<div class="jsBasCard">
  {{> basketCard}}
</div>
  <p>Скидка: {{totalDiscount}}</p>
  <p> Итого: {{total}}</p>  
  <button type="button" class="orderBtn" data-total="{{total}}">Оформить заказ</button>
</div>
